.saved-movies {
  min-height: 80vh;
}

@media (max-height: 1145px) {
  .saved-movies {
    min-height: 70vh;
  }
}

@media (max-height: 775px) {
  .saved-movies {
    min-height: 60vh;
  }
}

@media (max-height: 585px) {
  .saved-movies {
    min-height: 50vh;
  }
}
